
@font-face {
	font-family: 'PTRootUIWebVF';
	src: url('PT%20Root%20UI_VF.eot');
	src:
	     url('PT%20Root%20UI_VF.eot?#iefix') format('embedded-opentype'),
	     url('PT%20Root%20UI_VF.woff2') format('woff2'),
	     url('PT%20Root%20UI_VF.woff') format('woff'),
	     url('PT%20Root%20UI_VF.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


* {
    margin: 0; 
    padding: 0; 

}

body {
    font-family: 'PTRootUIWebVF';
    font-size: 24px;
    line-height: 1.5;
    
    background-color: #000000;
    color: #ffffff;
   
}

header {
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 10;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

section div.split {
    display: flex;
    align-items: center;
    justify-content: center;
}

section div.split:first-child {
    background-color: #111111;
}

section div.slides {
    width: 500px;
    height: 750px;
    position: relative;
}

section div.slides img {
    position: absolute;
    top: 0;
    left: 0; 
    width: 500px;
    height: 750px;
}

section div.info {
    max-width: 480px;
}

section h2 {
    font-size: 32px;
}

section p {
    margin: 32px 0 0 0; 
}

